### Storm Event Data

Source:

## Event Details

In [2]:
import pandas as pd

df = pd.read_csv("event_details.csv")
df.columns

Index(['BEGIN_YEARMONTH', 'BEGIN_DAY', 'BEGIN_TIME', 'END_YEARMONTH',
       'END_DAY', 'END_TIME', 'EPISODE_ID', 'EVENT_ID', 'STATE', 'STATE_FIPS',
       'YEAR', 'MONTH_NAME', 'EVENT_TYPE', 'CZ_TYPE', 'CZ_FIPS', 'CZ_NAME',
       'WFO', 'BEGIN_DATE_TIME', 'CZ_TIMEZONE', 'END_DATE_TIME',
       'INJURIES_DIRECT', 'INJURIES_INDIRECT', 'DEATHS_DIRECT',
       'DEATHS_INDIRECT', 'DAMAGE_PROPERTY', 'DAMAGE_CROPS', 'SOURCE',
       'MAGNITUDE', 'MAGNITUDE_TYPE', 'FLOOD_CAUSE', 'CATEGORY', 'TOR_F_SCALE',
       'TOR_LENGTH', 'TOR_WIDTH', 'TOR_OTHER_WFO', 'TOR_OTHER_CZ_STATE',
       'TOR_OTHER_CZ_FIPS', 'TOR_OTHER_CZ_NAME', 'BEGIN_RANGE',
       'BEGIN_AZIMUTH', 'BEGIN_LOCATION', 'END_RANGE', 'END_AZIMUTH',
       'END_LOCATION', 'BEGIN_LAT', 'BEGIN_LON', 'END_LAT', 'END_LON',
       'EPISODE_NARRATIVE', 'EVENT_NARRATIVE', 'DATA_SOURCE'],
      dtype='object')

In [3]:
df.head(5)

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE
0,202405,23,1947,202405,23,1947,190907,1180619,OKLAHOMA,40,...,4.0,S,FRIENDSHIP,34.6380,-99.2167,34.6380,-99.2167,Two primary rounds of severe convection occurr...,MPing report.,CSV
1,202411,16,230,202411,18,1421,197838,1223377,OREGON,41,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A series of cold fronts the weekend of Nov. 16...,The Hog Pass SNOTEL reported an estimated 12 i...,CSV
2,202405,19,1839,202405,19,1902,190905,1184919,OKLAHOMA,40,...,5.0,N,CUSTER CITY,35.7100,-99.0010,35.7370,-98.8910,Significant severe weather occurred across por...,While the large multiple-vortex tornado was ap...,CSV
3,202405,23,2155,202405,23,2155,190907,1180805,OKLAHOMA,40,...,2.0,W,NINNEKAH,34.9501,-97.9523,34.9501,-97.9523,Two primary rounds of severe convection occurr...,Relayed image showing a portable outbuilding b...,CSV
4,202411,22,400,202411,22,1100,197326,1220680,NEW YORK,36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,An occluded low pressure system brought heavy ...,A trained spotter reported 10.0 inches of wet ...,CSV

In [4]:
import pandas as pd

df = pd.read_csv("./event_details.csv")
df['EPISODE_NARRATIVE'][:10].tolist()

['Two primary rounds of severe convection occurred on the 23rd, with the first during the initial hours of the morning and the second during the early into late evening. The early morning round was fostered (in part) by a nocturnal low-level jet/ascent across portions of southwestern into south-central Oklahoma. Multiple reports of hail, including a few of severe-caliber, were received with this activity. ||A more impactful round of severe convection emerged by the late afternoon as an upper trough moved into portions of the Plains. Multiple supercell thunderstorms initiated off a dryline near the 100th meridian/far southeastern Texas Panhandle. Strong wind shear, instability and steep lapse rates promoted large to very large hail. As low-level shear increased and an emerging dominant supercell underwent favorable storm-scale interaction(s), significant tornadogenesis occurred. A long-lived and strong tornado occurred across portions of Jackson County, just west of Altus. Additional reports of severe weather were received by late evening from an evolving storm cluster across south-central Oklahoma. An additional supercell thunderstorm produced reports of large hail from the southern into northeastern portions of the Oklahoma City Metropolitan area earlier in the evening.',
 'A series of cold fronts the weekend of Nov. 16th lowered snow levels across the region, which brought moderate to heavy snow accumulations across some mountain zones.',
 'Significant severe weather occurred across portions of western into central Oklahoma from the late afternoon of the 19th through early morning on the 20th. Aloft, a strong and compact upper wave moved across portions of Kansas during the afternoon. While most severe weather outcomes were expected further north of the WFO Norman area, a few supercell thunderstorms developed along a trailing dryline near the 100th meridian. This included a powerful supercell thunderstorm that moved from Hemphill County, Texas (WFO Amarillo, Texas) into portions of Roger Mills/Custer/Washita/Blaine/Canadian/Oklahoma counties during the afternoon into late evening hours. This thunderstorm was responsible for thirteen (13) tornadoes, including significant tornadoes west of Custer City and near Yukon, Oklahoma. Significant damaging wind gusts/damage and large to very large hail also occurred with this thunderstorm. Additional hail-producing supercells developed into portions of northwestern Oklahoma during the evening, with one becoming briefly tornadic during the late evening across Woods County, Oklahoma.',
 'Two primary rounds of severe convection occurred on the 23rd, with the first during the initial hours of the morning and the second during the early into late evening. The early morning round was fostered (in part) by a nocturnal low-level jet/ascent across portions of southwestern into south-central Oklahoma. Multiple reports of hail, including a few of severe-caliber, were received with this activity. ||A more impactful round of severe convection emerged by the late afternoon as an upper trough moved into portions of the Plains. Multiple supercell thunderstorms initiated off a dryline near the 100th meridian/far southeastern Texas Panhandle. Strong wind shear, instability and steep lapse rates promoted large to very large hail. As low-level shear increased and an emerging dominant supercell underwent favorable storm-scale interaction(s), significant tornadogenesis occurred. A long-lived and strong tornado occurred across portions of Jackson County, just west of Altus. Additional reports of severe weather were received by late evening from an evolving storm cluster across south-central Oklahoma. An additional supercell thunderstorm produced reports of large hail from the southern into northeastern portions of the Oklahoma City Metropolitan area earlier in the evening.',
 'An occluded low pressure system brought heavy rain on the front end, with a change to heavy wet accumulating snow in higher elevations as the upper level low approached. Their were much lower amounts in lower elevations. The upper low swung through on the back end of the system early on the 22nd resulted in height falls and colder air working in changing the precipitation to mainly wet snow across portions of the interior, especially in elevated locations.',
 'A frontal boundary followed by a large area of low pressure sitting just off the coast facilitated heavy snow over the Cascades from Oct 31st to Nov 1st.',
 'A frontal boundary followed by a large area of low pressure sitting just off the coast facilitated heavy snow over the Cascades Oct 31 into Nov 1st.',
 'An occluded low pressure system brought heavy rain on the front end, with a change to heavy wet accumulating snow in higher elevations as the upper level low approached. Their were much lower amounts in lower elevations. The upper low swung through on the back end of the system early on the 22nd resulted in height falls and colder air working in changing the precipitation to mainly wet snow across portions of the interior, especially in elevated locations.',
 'An occluded low pressure system brought heavy rain on the front end, with a change to heavy wet accumulating snow in higher elevations as the upper level low approached. Their were much lower amounts in lower elevations. The upper low swung through on the back end of the system early on the 22nd resulted in height falls and colder air working in changing the precipitation to mainly wet snow across portions of the interior, especially in elevated locations.',
 'A cold frontal boundary arriving on Nov 17th followed by a modified arctic airmass loft and long-fetch northwesterly flow by Nov 18th facilitate heavy snow across the Cascades above 2000-3000ft.']

In [6]:
df['EVENT_TYPE'].unique()

array(['Hail', 'Heavy Snow', 'Tornado', 'Thunderstorm Wind',
       'Winter Weather', 'High Wind', 'Funnel Cloud', 'Heavy Rain',
       'Drought', 'Flash Flood', 'Marine Thunderstorm Wind',
       'Winter Storm', 'Flood', 'Avalanche', 'Astronomical Low Tide',
       'Strong Wind', 'Waterspout', 'Lightning', 'Coastal Flood',
       'Blizzard', 'Extreme Cold/Wind Chill', 'Wildfire', 'Heat',
       'Debris Flow', 'Lake-Effect Snow', 'Dust Storm', 'Rip Current',
       'Dense Fog', 'High Surf', 'Marine High Wind', 'Cold/Wind Chill',
       'Ice Storm', 'Frost/Freeze', 'Sneakerwave', 'Freezing Fog',
       'Excessive Heat', 'Sleet', 'Marine Hail', 'Dust Devil',
       'Tropical Storm', 'Storm Surge/Tide', 'Marine Tropical Storm',
       'Hurricane', 'Marine Hurricane/Typhoon', 'Marine Strong Wind',
       'Tropical Depression', 'Marine Dense Fog', 'Seiche',
       'Marine Tropical Depression', 'Lakeshore Flood'], dtype=object)

In [14]:
df['EVENT_TYPE'].value_counts()

EVENT_TYPE
Thunderstorm Wind             19723
Hail                           8932
Flash Flood                    4696
High Wind                      3448
Drought                        3304
Heat                           3137
Winter Weather                 2979
Excessive Heat                 2563
Flood                          2368
Marine Thunderstorm Wind       2125
Heavy Snow                     2056
Tornado                        1992
Winter Storm                   1981
Strong Wind                    1061
Heavy Rain                      901
Cold/Wind Chill                 730
Extreme Cold/Wind Chill         700
Dense Fog                       654
Tropical Storm                  589
Frost/Freeze                    418
Coastal Flood                   376
Wildfire                        350
Blizzard                        320
Funnel Cloud                    276
Waterspout                      189
Lightning                       185
Debris Flow                     169
High Surf                        99
Dust Storm                       87
Storm Surge/Tide                 80
Hurricane                        78
Marine Tropical Storm            76
Rip Current                      69
Ice Storm                        67
Marine High Wind                 56
Lake-Effect Snow                 51
Tropical Depression              36
Avalanche                        23
Marine Hail                      22
Sneakerwave                      16
Marine Hurricane/Typhoon         15
Astronomical Low Tide            10
Freezing Fog                      7
Dust Devil                        7
Sleet                             6
Marine Strong Wind                3
Seiche                            3
Marine Dense Fog                  1
Marine Tropical Depression        1
Lakeshore Flood                   1
Name: count, dtype: int64

## Event Locations

In [1]:
import pandas as pd

df = pd.read_csv("locations.csv")
df.columns

Index(['YEARMONTH', 'EPISODE_ID', 'EVENT_ID', 'LOCATION_INDEX', 'RANGE',
       'AZIMUTH', 'LOCATION', 'LATITUDE', 'LONGITUDE', 'LAT2', 'LON2'],
      dtype='object')

In [2]:
df.head(5)

,YEARMONTH,EPISODE_ID,EVENT_ID,LOCATION_INDEX,RANGE,AZIMUTH,LOCATION,LATITUDE,LONGITUDE,LAT2,LON2
0,201805,126825,760424,1,0.00,N,YORK RIVER EAST REAR RANGE LIGHT WLON (YKRV2),37.2500,-76.3300,3715000,7619800
1,201808,130479,780978,2,3.01,SSW,JACKSONVILLE,30.3100,-81.6900,3018600,8141400
2,201808,130479,780978,3,2.08,SSW,JACKSONVILLE,30.3238,-81.6871,3019428,8141226
3,201808,130479,780978,4,2.64,SSW,LAKE FOREST,30.3158,-81.6497,3018948,8138982
4,201808,130476,782301,4,1.52,NW,WEST AUBURN,41.7437,-76.1232,4144622,767392

## Event Fatalities

In [3]:
import pandas as pd

df = pd.read_csv("fatalities.csv")
df.columns

Index(['FAT_YEARMONTH', 'FAT_DAY', 'FAT_TIME', 'FATALITY_ID', 'EVENT_ID',
       'FATALITY_TYPE', 'FATALITY_DATE', 'FATALITY_AGE', 'FATALITY_SEX',
       'FATALITY_LOCATION', 'EVENT_YEARMONTH'],
      dtype='object')

In [4]:
df.head(5)

,FAT_YEARMONTH,FAT_DAY,FAT_TIME,FATALITY_ID,EVENT_ID,FATALITY_TYPE,FATALITY_DATE,FATALITY_AGE,FATALITY_SEX,FATALITY_LOCATION,EVENT_YEARMONTH
0,202206,12,0,50284,1131613,D,06/12/2022 00:00:00,77.0,M,Permanent Home,202206
1,202202,2,0,45421,995493,I,02/02/2022 00:00:00,NaN,NaN,Vehicle/Towed Trailer,202202
2,202202,2,0,45422,995493,I,02/02/2022 00:00:00,NaN,NaN,Vehicle/Towed Trailer,202202
3,202202,2,0,45423,995500,I,02/02/2022 00:00:00,18.0,M,Outside/Open Areas,202202
4,202202,2,0,45424,995524,I,02/02/2022 00:00:00,35.0,M,Vehicle/Towed Trailer,202202

In [5]:
df['FATALITY_TYPE'].unique()

array(['D', 'I'], dtype=object)

In [6]:
df['FATALITY_LOCATION'].value_counts()

FATALITY_LOCATION
Unknown                         529
Vehicle/Towed Trailer           210
Outside/Open Areas              191
In Water                        120
Permanent Home                   94
Mobile/Trailer Home              26
Boating                          17
Permanent Structure              11
Camping                          10
Other                             8
Under Tree                        5
Heavy Equipment/Construction      1
Business                          1
Name: count, dtype: int64

### Entire dataset

In [5]:
import pandas as pd
import glob
files = glob.glob("data/details/*.csv")

details_df_list = []

for f in files:
    ano = int(f[43:47])
    if ano >= 1996:
        print(f)
        csv = pd.read_csv(f)
        details_df_list.append(csv)

details_df = pd.concat(details_df_list)

details_df.head()

data/details/StormEvents_details-ftp_v1.0_d2019_c20240117.csv
data/details/StormEvents_details-ftp_v1.0_d2011_c20230417.csv
data/details/StormEvents_details-ftp_v1.0_d2018_c20240716.csv
data/details/StormEvents_details-ftp_v1.0_d2000_c20220425.csv
data/details/StormEvents_details-ftp_v1.0_d2012_c20221216.csv
data/details/StormEvents_details-ftp_v1.0_d1996_c20220425.csv
data/details/StormEvents_details-ftp_v1.0_d2016_c20220719.csv

/tmp/ipykernel_35942/1692088515.py:11: DtypeWarning: Columns (26,28) have mixed types. Specify dtype option on import or set low_memory=False.
  csv = pd.read_csv(f)

data/details/StormEvents_details-ftp_v1.0_d2001_c20220425.csv
data/details/StormEvents_details-ftp_v1.0_d2020_c20240620.csv
data/details/StormEvents_details-ftp_v1.0_d2010_c20220425.csv
data/details/StormEvents_details-ftp_v1.0_d2021_c20240716.csv
data/details/StormEvents_details-ftp_v1.0_d2023_c20250216.csv
data/details/StormEvents_details-ftp_v1.0_d2004_c20220425.csv
data/details/StormEvents_details-ftp_v1.0_d1997_c20220425.csv

/tmp/ipykernel_35942/1692088515.py:11: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  csv = pd.read_csv(f)

data/details/StormEvents_details-ftp_v1.0_d2015_c20240716.csv
data/details/StormEvents_details-ftp_v1.0_d2017_c20250122.csv
data/details/StormEvents_details-ftp_v1.0_d2007_c20240216.csv
data/details/StormEvents_details-ftp_v1.0_d2014_c20231116.csv
data/details/StormEvents_details-ftp_v1.0_d2009_c20231116.csv
data/details/StormEvents_details-ftp_v1.0_d2022_c20241121.csv
data/details/StormEvents_details-ftp_v1.0_d2006_c20250122.csv

/tmp/ipykernel_35942/1692088515.py:11: DtypeWarning: Columns (29,34,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  csv = pd.read_csv(f)

data/details/StormEvents_details-ftp_v1.0_d2002_c20220425.csv
data/details/StormEvents_details-ftp_v1.0_d2005_c20220425.csv
data/details/StormEvents_details-ftp_v1.0_d2013_c20230118.csv
data/details/StormEvents_details-ftp_v1.0_d2008_c20240620.csv
data/details/StormEvents_details-ftp_v1.0_d2003_c20220425.csv
data/details/StormEvents_details-ftp_v1.0_d1998_c20220425.csv

/tmp/ipykernel_35942/1692088515.py:11: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  csv = pd.read_csv(f)

data/details/StormEvents_details-ftp_v1.0_d2024_c20250216.csv
data/details/StormEvents_details-ftp_v1.0_d1999_c20220425.csv

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE
0,201905,9,1554,201905,9,1830,137295.0,824116,TEXAS,48.0,...,7.0,NNE,SAN GERONIMO,29.7898,-98.6406,29.7158,-98.7744,Thunderstorms developed along a cold front as ...,Thunderstorms produced heavy rain that led to ...,CSV
1,201908,1,0,201908,7,1400,141502.0,849617,SOUTH DAKOTA,46.0,...,3.0,W,BRUCE,44.5400,-96.9600,44.4300,-96.9400,Minor flooding slowly dwindled during early Au...,"A continuation of flooding from July, the Big ...",CSV
2,201909,25,1823,201909,25,1825,141998.0,852808,ARIZONA,4.0,...,24.0,S,OCOTILLO,32.8700,-111.8800,32.8788,-111.8750,Scattered thunderstorms developed over the cen...,Scattered thunderstorms developed across the c...,CSV
3,201902,19,2226,201902,19,2350,134941.0,808922,ARKANSAS,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Rain was heavy at times on the 19th, and there...",One-quarter inch of freezing rain was measured...,CSV
4,201902,19,2255,201902,19,2355,134941.0,808923,ARKANSAS,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Rain was heavy at times on the 19th, and there...",One-quarter inch of freezing rain was measured...,CSV

In [ ]:
# Number of rows combined
print(len(details_df))

1705613

In [30]:
# Trying to fix mixed types in files

df = pd.read_csv("./data/details/StormEvents_details-ftp_v1.0_d1999_c20220425.csv")
print((df[df.columns[26]].map(type)).value_counts())

# df["type"] = df["col"].map(type)

# # See how many different types exist
# print(df["type"].value_counts())

most_common_type = df[df.columns[26]].map(type).mode()[0]
mixed_type_rows = df[df[df.columns[26]].map(type) != most_common_type]
print(mixed_type_rows)

SOURCE
<class 'str'>      46377
<class 'float'>        6
Name: count, dtype: int64
       BEGIN_YEARMONTH  BEGIN_DAY  BEGIN_TIME  END_YEARMONTH  END_DAY  \
1381            199902          2        1700         199902        2
15350           199910          6        1400         199910        6
15351           199910         16         800         199910       16
15352           199910         28        2100         199910       29
15442           199910          6        1400         199910        6
22390           199906         20        2100         199906       20

       END_TIME  EPISODE_ID  EVENT_ID        STATE  STATE_FIPS  ...  \
1381       1700     1500257   5696289  CONNECTICUT           9  ...
15350      1600     2414210   5724315         UTAH          49  ...
15351      2100     2414211   5724316         UTAH          49  ...
15352       900     2414212   5724317         UTAH          49  ...
15442      1600     2414210   5724314         UTAH          49  ...
22390      2100     2408393   5706329     MISSOURI          29  ...

       END_RANGE END_AZIMUTH END_LOCATION BEGIN_LAT  BEGIN_LON END_LAT  \
1381         NaN         NaN   COUNTYWIDE       NaN        NaN     NaN
15350        NaN         NaN          NaN       NaN        NaN     NaN
15351        NaN         NaN          NaN       NaN        NaN     NaN
15352        NaN         NaN          NaN       NaN        NaN     NaN
15442        NaN         NaN          NaN       NaN        NaN     NaN
22390        NaN         NaN     LA MONTE     38.78     -93.43   38.78

      END_LON                                  EPISODE_NARRATIVE  \
1381      NaN  A combination of a nearly stationary warm fron...
15350     NaN  Strong winds ahead of a cold front brought 66 ...
15351     NaN                                                NaN
15352     NaN                                                NaN
15442     NaN  Strong winds ahead of a cold front brought 66 ...
22390  -93.43                                                NaN

                                         EVENT_NARRATIVE DATA_SOURCE
1381                                                 NaN         PDC
15350                                                NaN         PDC
15351  Strong northerly winds behind a cold front bro...         PDC
15352  Finally some decent snow in the mountains, as ...         PDC
15442                                                NaN         PDC
22390  Thunderstorm winds damaged a house and a barn ...         PDC

[6 rows x 51 columns]

In [8]:
details_df.to_csv('./details_complete.csv')

In [11]:
details_df.columns

Index(['BEGIN_YEARMONTH', 'BEGIN_DAY', 'BEGIN_TIME', 'END_YEARMONTH',
       'END_DAY', 'END_TIME', 'EPISODE_ID', 'EVENT_ID', 'STATE', 'STATE_FIPS',
       'YEAR', 'MONTH_NAME', 'EVENT_TYPE', 'CZ_TYPE', 'CZ_FIPS', 'CZ_NAME',
       'WFO', 'BEGIN_DATE_TIME', 'CZ_TIMEZONE', 'END_DATE_TIME',
       'INJURIES_DIRECT', 'INJURIES_INDIRECT', 'DEATHS_DIRECT',
       'DEATHS_INDIRECT', 'DAMAGE_PROPERTY', 'DAMAGE_CROPS', 'SOURCE',
       'MAGNITUDE', 'MAGNITUDE_TYPE', 'FLOOD_CAUSE', 'CATEGORY', 'TOR_F_SCALE',
       'TOR_LENGTH', 'TOR_WIDTH', 'TOR_OTHER_WFO', 'TOR_OTHER_CZ_STATE',
       'TOR_OTHER_CZ_FIPS', 'TOR_OTHER_CZ_NAME', 'BEGIN_RANGE',
       'BEGIN_AZIMUTH', 'BEGIN_LOCATION', 'END_RANGE', 'END_AZIMUTH',
       'END_LOCATION', 'BEGIN_LAT', 'BEGIN_LON', 'END_LAT', 'END_LON',
       'EPISODE_NARRATIVE', 'EVENT_NARRATIVE', 'DATA_SOURCE'],
      dtype='object')

In [13]:
details_df.EPISODE_NARRATIVE

0        Thunderstorms developed along a cold front as ...
1        Minor flooding slowly dwindled during early Au...
2        Scattered thunderstorms developed over the cen...
3        Rain was heavy at times on the 19th, and there...
4        Rain was heavy at times on the 19th, and there...
                               ...
46378    Lack of precipitation during April throughout ...
46379    Winds gusting up to 70 mph caused widespread d...
46380    Winds gusting up to 70 mph caused widespread d...
46381    Hail up to an inch in diameter was reported by...
46382    Hail up to an inch in diameter was reported by...
Name: EPISODE_NARRATIVE, Length: 1937859, dtype: object

In [13]:
import pandas as pd
import glob
files = glob.glob("data/fatalities/*.csv")

fatalities_df_list = []

for f in files:
    ano = int(f[49:53])
    if ano >= 1996:
        print(f)
        csv = pd.read_csv(f)
        fatalities_df_list.append(csv)

fatalities_df = pd.concat(fatalities_df_list)

fatalities_df.head(n=20)

data/fatalities/StormEvents_fatalities-ftp_v1.0_d2000_c20220425.csv
data/fatalities/StormEvents_fatalities-ftp_v1.0_d2006_c20250122.csv
data/fatalities/StormEvents_fatalities-ftp_v1.0_d2012_c20221216.csv
data/fatalities/StormEvents_fatalities-ftp_v1.0_d1996_c20220425.csv
data/fatalities/StormEvents_fatalities-ftp_v1.0_d2017_c20250122.csv
data/fatalities/StormEvents_fatalities-ftp_v1.0_d2016_c20220719.csv
data/fatalities/StormEvents_fatalities-ftp_v1.0_d2011_c20230417.csv
data/fatalities/StormEvents_fatalities-ftp_v1.0_d2024_c20250216.csv
data/fatalities/StormEvents_fatalities-ftp_v1.0_d2019_c20240117.csv
data/fatalities/StormEvents_fatalities-ftp_v1.0_d2015_c20240716.csv
data/fatalities/StormEvents_fatalities-ftp_v1.0_d2021_c20240716.csv
data/fatalities/StormEvents_fatalities-ftp_v1.0_d2022_c20241121.csv
data/fatalities/StormEvents_fatalities-ftp_v1.0_d2010_c20220425.csv
data/fatalities/StormEvents_fatalities-ftp_v1.0_d2020_c20240620.csv
data/fatalities/StormEvents_fatalities-ftp_v1.0_d2003_c20220425.csv
data/fatalities/StormEvents_fatalities-ftp_v1.0_d2013_c20230118.csv
data/fatalities/StormEvents_fatalities-ftp_v1.0_d1998_c20220425.csv
data/fatalities/StormEvents_fatalities-ftp_v1.0_d2001_c20220425.csv
data/fatalities/StormEvents_fatalities-ftp_v1.0_d2014_c20231116.csv
data/fatalities/StormEvents_fatalities-ftp_v1.0_d2002_c20220425.csv
data/fatalities/StormEvents_fatalities-ftp_v1.0_d2008_c20240620.csv
data/fatalities/StormEvents_fatalities-ftp_v1.0_d1997_c20220425.csv
data/fatalities/StormEvents_fatalities-ftp_v1.0_d2023_c20250216.csv
data/fatalities/StormEvents_fatalities-ftp_v1.0_d1999_c20220425.csv
data/fatalities/StormEvents_fatalities-ftp_v1.0_d2007_c20240216.csv
data/fatalities/StormEvents_fatalities-ftp_v1.0_d2005_c20220425.csv
data/fatalities/StormEvents_fatalities-ftp_v1.0_d2018_c20240716.csv
data/fatalities/StormEvents_fatalities-ftp_v1.0_d2009_c20231116.csv
data/fatalities/StormEvents_fatalities-ftp_v1.0_d2004_c20220425.csv

,FAT_YEARMONTH,FAT_DAY,FAT_TIME,FATALITY_ID,EVENT_ID,FATALITY_TYPE,FATALITY_DATE,FATALITY_AGE,FATALITY_SEX,FATALITY_LOCATION,EVENT_YEARMONTH
0,200009,5,0,1007045,5174317,D,09/05/2000 12:00:00,61.0,M,Permanent Home,200009.0
1,200009,10,0,1007047,5158936,D,09/10/2000 12:00:00,88.0,F,Permanent Home,200009.0
2,200009,3,0,1007048,5174425,D,09/03/2000 12:00:00,84.0,F,Long Span Roof,200009.0
3,200009,2,0,1007049,5158270,D,09/02/2000 12:00:00,66.0,F,Permanent Home,200009.0
4,200009,3,0,1007050,5158270,D,09/03/2000 12:00:00,77.0,F,Permanent Home,200009.0
5,200009,4,0,1007051,5158270,D,09/04/2000 12:00:00,83.0,F,Permanent Home,200009.0
6,200009,7,0,1007052,5158270,D,09/07/2000 12:00:00,77.0,F,Permanent Home,200009.0
7,200009,5,0,1007053,5158274,D,09/05/2000 12:00:00,46.0,M,Outside/Open Areas,200009.0
8,200010,25,0,1007055,5174102,D,10/25/2000 12:00:00,33.0,F,Vehicle/Towed Trailer,200010.0
9,200010,22,0,1007056,5158231,D,10/22/2000 12:00:00,24.0,M,Other,200010.0
10,200010,21,0,1007058,5158233,D,10/21/2000 12:00:00,17.0,F,Other,200010.0
11,200010,4,0,1007060,5158344,D,10/04/2000 12:00:00,6.0,F,Outside/Open Areas,200010.0
12,200010,5,0,1007061,5162111,D,10/05/2000 12:00:00,29.0,F,In Water,200010.0
13,200010,10,0,1007063,5157988,D,10/10/2000 12:00:00,34.0,M,Vehicle/Towed Trailer,200010.0
14,200010,23,0,1007065,5160933,D,10/23/2000 12:00:00,33.0,M,In Water,200010.0
15,200011,30,0,1007066,5161752,D,11/30/2000 12:00:00,50.0,M,Under Tree,200011.0
16,200011,2,0,1007068,5160962,D,11/02/2000 12:00:00,51.0,M,Vehicle/Towed Trailer,200011.0
17,200011,5,0,1007070,5161340,D,11/05/2000 12:00:00,35.0,M,Vehicle/Towed Trailer,200011.0
18,200012,9,0,1007071,5161158,D,12/09/2000 12:00:00,44.0,M,Outside/Open Areas,200012.0
19,200012,18,0,1007072,5160459,D,12/18/2000 12:00:00,22.0,F,Vehicle/Towed Trailer,200012.0

In [ ]:
print(len(fatalities_df))

22807

In [15]:
fatalities_df.to_csv('./fatalities_complete.csv')

In [19]:
import pandas as pd
import glob
files = glob.glob("data/locations/*.csv")

locations_df_list = []

for f in files:
    ano = int(f[47:51])
    if ano >= 1996:
        print(f)
        csv = pd.read_csv(f)
        locations_df_list.append(csv)

locations_df = pd.concat(locations_df_list)

locations_df.head(n=20)

data/locations/StormEvents_locations-ftp_v1.0_d2004_c20220425.csv
data/locations/StormEvents_locations-ftp_v1.0_d2012_c20221216.csv
data/locations/StormEvents_locations-ftp_v1.0_d2015_c20240716.csv
data/locations/StormEvents_locations-ftp_v1.0_d2021_c20240716.csv
data/locations/StormEvents_locations-ftp_v1.0_d2011_c20230417.csv
data/locations/StormEvents_locations-ftp_v1.0_d2010_c20220425.csv
data/locations/StormEvents_locations-ftp_v1.0_d2023_c20250216.csv
data/locations/StormEvents_locations-ftp_v1.0_d2008_c20240620.csv
data/locations/StormEvents_locations-ftp_v1.0_d2006_c20250122.csv
data/locations/StormEvents_locations-ftp_v1.0_d2014_c20231116.csv
data/locations/StormEvents_locations-ftp_v1.0_d2018_c20240716.csv
data/locations/StormEvents_locations-ftp_v1.0_d2002_c20220425.csv
data/locations/StormEvents_locations-ftp_v1.0_d2017_c20250122.csv
data/locations/StormEvents_locations-ftp_v1.0_d2024_c20250216.csv
data/locations/StormEvents_locations-ftp_v1.0_d2005_c20220425.csv
data/locations/StormEvents_locations-ftp_v1.0_d2022_c20241121.csv

,YEARMONTH,EPISODE_ID,EVENT_ID,LOCATION_INDEX,RANGE,AZIMUTH,LOCATION,LATITUDE,LONGITUDE,LAT2,LON2
0,200406,1172580,5403822,1,NaN,NaN,WHITE OAK,32.53333,-94.86667,NaN,NaN
1,200406,1172677,5404229,1,NaN,NaN,EAST PALESTINE,NaN,NaN,NaN,NaN
2,200406,1172678,5404230,1,NaN,NaN,BEAVER FALLS,NaN,NaN,NaN,NaN
3,200406,1172679,5404231,1,NaN,NaN,HARMONY,NaN,NaN,NaN,NaN
4,200406,1172680,5404232,1,1.0,SE,ELDERTON,40.68333,-79.33333,NaN,NaN
5,200406,1172681,5404233,1,NaN,NaN,SOUTH GREENSBURG,40.28333,-79.53333,NaN,NaN
6,200406,1172682,5404234,1,NaN,NaN,BEAVER,40.68333,-80.33333,NaN,NaN
7,200406,1172683,5404235,1,NaN,NaN,SARAHSVILLE,NaN,NaN,NaN,NaN
8,200406,1172684,5404236,1,6.0,S,CONNELLSVILLE,NaN,NaN,NaN,NaN
9,200406,1172753,5404237,1,1.0,E,NORENE,NaN,NaN,NaN,NaN
10,200406,1172753,5404238,1,NaN,NaN,STATESVILLE,NaN,NaN,NaN,NaN
11,200406,1172754,5404239,1,NaN,NaN,MT PLEASANT,35.53333,-87.20000,NaN,NaN
12,200406,1172755,5404240,1,NaN,NaN,LANTANA,NaN,NaN,NaN,NaN
13,200406,1173914,5406653,1,10.0,S,PRINGLE,43.45000,-103.60000,NaN,NaN
14,200406,1173914,5406654,1,10.0,WNW,HOT SPGS,43.48333,-103.66667,NaN,NaN
15,200406,1173914,5406655,1,2.0,W,HOT SPGS,43.43333,-103.51667,NaN,NaN
16,200406,1173915,5406656,1,NaN,NaN,WOUNDED KNEE,43.13333,-102.36667,NaN,NaN
17,200406,1173915,5406657,1,8.0,SW,BATESLAND,43.01667,-102.25000,NaN,NaN
18,200406,1173916,5406658,1,2.0,E,BELLE FOURCHE,44.66667,-103.83333,NaN,NaN
19,200406,1174006,5406659,1,NaN,NaN,HURRICANE,38.41667,-82.46667,NaN,NaN

In [20]:
print(len(locations_df))

1015221

In [21]:
locations_df.to_csv("./locations_complete.csv")

In [ ]:
# Fill information latitude longitude basded on location

1015221

## Cleaning steps

1. Fixing data types
2. Dropping null values of important columns (some columns will have null values)
3. Fill missing locations values

## Possible analysis

Maybe do them in python first so we can have a baseline and then use the duckdb